html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


.header{
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}

.search{
  float: right;
}

.search-form input{
  background: transparent; 
  border: 0px;
  border-bottom: 1px solid white;
  padding: 8px;
  margin-right: 10px;
  padding-left: 0px;
    
}

.search-form input:hover{
  border-bottom: 1px solid #1A77FF;
}

.search-btn{
  background-color: black;
  color: white;
  border: 0px;
  padding: 8px 12px;
  border-bottom: 1px solid #1A77FF;
}


.menu{
  background-color: #1C1C1C;
  color: white;
  list-style-type: none;
}

.menu ul{
  list-style-type: none;
  margin-left: -42px;
  margin-bottom: 0px;
  
}

.menu ul li{
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  margin-bottom: 0px;

}

.active{
  background-color: #00ABFE;
}

.menu ul li:hover{
  background-color: #00ABFE;
}


.menu a{
  text-decoration: none;
  color: white;
  padding-bottom: 15px;
}

.main{ background:url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  color: white;
  
}

.main h2{
  font-size: 50px;
  font-weight: bold
 
}

.main .row .col-md-5{
  padding-top: 50px;
}

p{
  display: block;
}

.supporting h3{
  font-weight: bold;
}

.supporting .date{
  font-size: 12px;
}

.supporting{
  padding-top: 60px;
  background-color: #F2F2F2;
  padding-bottom: 60px;
}

.col-md-8{
  background-color: white;
  color: black;
  padding: 40px;
  padding-bottom: 58px;
}

.col-md-4{
  background-color: #1C1C1C;
  color: white;
  padding: 40px;
  padding-right: 30px;
}


.banner{
  max-width: 100%;
}

.supporting .row .col-md-12{
  margin: 0px;
  padding: 0px;
}

.col-md-12 img{
  width: 100%;
  padding-top: 40px;
}

.footer{
  background-color: black;
  color: white;
  
}

.footer ul{
  list-style-type: none;
}

.footer ul li{
  display: inline-block;
  margin: 0px;
  padding: 30px;
}

.footer p{
  float: right;
  margin-top: -60px
}